@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind custom classes */

.header--one {
  @apply text-4xl lg:text-6xl font-bold tracking-tight;
}

.header--two {
  @apply text-2xl lg:text-4xl font-bold tracking-tight;
}

.text {
  @apply font-light text-gray-600 tracking-wide;
}

.button {
  @apply inline-block text-white bg-primary-500 font-medium px-6 py-2 rounded shadow-md hover:bg-primary-600 transition-colors  duration-300;
}

.feature--title {
  @apply text-lg lg:text-2xl font-bold text-primary-500 tracking-tight mb-4;
}

.card {
  height: max-content;
  @apply p-4 rounded-t-md shadow-lg;
}

.card--author {
  @apply text-sm  font-bold tracking-wider text-primary-500 text-right;
}

.main-nav--link {
  @apply inline-block w-full hover:bg-primary-100 px-4 py-2 tracking-wide lg:hover:bg-transparent lg:hover:text-primary-600;
}

/* Common css */

html {
  scroll-behavior: smooth;
}

#footer-cta {
  width: 100%;
  height: 80vh;
  background-image: url('../public/food-plate.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

.users--image {
  width: 100%;
  height: 80vh;
  background-image: url('../public/customers.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: multiply;
}
