@tailwind base;
@tailwind components;
@tailwind utilities;

.users--image {
  width: 100%;
  height: 70vh;
}

.header--one {
  @apply text-4xl lg:text-6xl font-bold tracking-tight;
}

.header--two {
  @apply text-2xl lg:text-4xl font-bold tracking-tight;
}

.text {
  @apply font-light text-gray-600 tracking-wide;
}

.button {
  @apply inline-block text-white bg-primary-500 font-medium px-6 py-2 rounded shadow-md hover:bg-primary-600 transition-colors  duration-300;
}

.feature--title {
  @apply text-lg lg:text-2xl font-bold text-primary-500 tracking-tight mb-4;
}

.card {
  height: max-content;
  @apply p-4 rounded-t-md shadow-lg;
}

.card--text {
  @apply text mb-4;
}

.card--author {
  @apply text-sm  font-bold tracking-wider text-primary-500 text-right;
}
